*{
    box-sizing: border-box;
}

html{
    background-color: #181a1b;
    font-family: sans-serif;
}

.title{
    display: flex;
    justify-content: center;
    color: #F99B43;
}

p, ul{
    font-size: 25px;
}

p{
    text-align: center ;
}

.container{
    color: #F99B43;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px #f99b43;
    border-radius: 10px;
    margin: 0 35px;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}


.maus{
    object-fit: contain;
    height: 500px;
    width: 100%;
    object-position:top center;
    padding-top: 15px;
    
}

#map{
    padding: 0;
}

.wrapper{
    display: flex;
    padding: 20px
}